{{ define "main" }}
<main>
  <article>
    {{ if eq .Type "links" }}
      <h1><a href="{{ .Params.Link }}" target="_blank">🔗 {{ .Title }}</a></h1>
    {{ else }}
      <h1>{{ .Title }}</h1>
    {{ end }}
    <b><time>{{ .Date.Format (default "2006-01-02 15:04:05" .Site.Params.dateFmt) }}</time></b>
    {{ range .Params.tags }}
    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
    {{ end }}
    <div>
      {{ .Content }}
    </div>
    {{ if eq .Type "links" }}
      <br>
      <div class="note">
        NOTE: This is just a summary of an <a href="{{ .Params.Link }}" target="_blank">🔗 external link</a> I shared.
      </div>
    {{ end }}
  </article>
</main>
{{ partial "sidebar.html" . }}
{{ end }}
