<header>
<a class="logo" href="{{ .Site.BaseURL }}">
<pre>
 █████╗ ████████╗ █████╗ ███╗   ███╗ █████╗ ███╗   ██╗
██╔══██╗╚══██╔══╝██╔══██╗████╗ ████║██╔══██╗████╗  ██║
███████║   ██║   ███████║██╔████╔██║███████║██╔██╗ ██║
██╔══██║   ██║   ██╔══██║██║╚██╔╝██║██╔══██║██║╚██╗██║
██║  ██║   ██║   ██║  ██║██║ ╚═╝ ██║██║  ██║██║ ╚████║
╚═╝  ╚═╝   ╚═╝   ╚═╝  ╚═╝╚═╝     ╚═╝╚═╝  ╚═╝╚═╝  ╚═══╝

        ██████╗  ██████╗ ███╗   ███╗ █████╗ ███╗   ██╗
        ██╔══██╗██╔═══██╗████╗ ████║██╔══██╗████╗  ██║
        ██████╔╝██║   ██║██╔████╔██║███████║██╔██╗ ██║
        ██╔══██╗██║   ██║██║╚██╔╝██║██╔══██║██║╚██╗██║
        ██║  ██║╚██████╔╝██║ ╚═╝ ██║██║  ██║██║ ╚████║
        ╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝  ╚═══╝

                             ██████╗ ███████╗██╗   ██╗
                             ██╔══██╗██╔════╝██║   ██║
                             ██║  ██║█████╗  ██║   ██║
                             ██║  ██║██╔══╝  ╚██╗ ██╔╝
                          ██╗██████╔╝███████╗ ╚████╔╝&nbsp;
                          ╚═╝╚═════╝ ╚══════╝  ╚═══╝&nbsp;&nbsp;
</pre>
</a>

<div>{{ .Site.Params.subtitle }}</div>
<p>
  <nav>
    <a href="/"><b>Start</b></a>.
    {{ with .Site.Menus.main }}
      {{ range . }}
        <a href="{{ .URL | relURL }}"><b>{{ .Name }}</b></a>.
      {{ end }}
    {{ end }}
  </nav>
</p>
</header>
